/* .project{
  width: fit-content;
} */
.pro-details{
    display: flex;
    gap: 10px;
    margin: 70px;
}
.pro-cards{
    background-color: #121820;
    height:320px;
    /* width: fit-content; */
    border-radius: 10px;
    margin-bottom: 30px;
    padding-bottom: 10px;
   
}
div>img{
    width: 100%;
    height: 70%;
}


.pro-details{
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0 15px;

    
}
.a{
    text-decoration: none;
    color: #069384;
}
.a:hover{
    transform: scale(1.1);
}
.buttons{
display: flex;
justify-content: center;
padding-bottom: 10px;
}

button{
    width: 80%;
    justify-content: center;
    padding: 7px;
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    background-color: #3786F4;
}
.buttons:hover{
   transform: scale(1.1);

}
.img:hover{
    cursor: pointer;
    transform:scale(1.1);
    transition-duration: 0.5s;
}