.skills{
    /* margin: 140px; */
    width: fit-content;
    margin:80px 0 80px 0;
}

.skill-card{
    background-color: #10161D;
    border-radius: 5px;
    height: 130px;
    /* width: fit-content; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    /* box-shadow: -1px 3px 5px #989fac ;   */
    
    
}


.skill-card:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.3s;
}

